docker/mysql/data/
# docker/mysql/data/performance_schema/
# docker/mysql/data/sys/
# docker/mysql/data/mysql/
# docker/mysql/data/#innodb_temp/
# docker/mysql/data/laravel_db/
# docker/mysql/data/#ib_16384_0.dblwr
# docker/mysql/data/#ib_16384_1.dblwr
# docker/mysql/data/auto.cnf
# docker/mysql/data/binlog.000001
