.heading {
    font-family: "Hiragino Mincho ProN",
        "Yu Mincho",
        YuMincho,
        "ＭＳ Ｐ明朝",
        "MS PMincho",
        Times,
        serif;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.group {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: none;
    padding: 10px;
}

.group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.group input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid grey;
}

.content__button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.login-btn {
    display: block;
    width: 200px;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(270deg, purple, pink);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.mv-register-btn {
    text-decoration: underline;
    text-align: center;
    height: 40px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}